%h1= @polyrhythm.title
%p= "Resolves at #{@polyrhythm.resolve/@patterns[0].time} bars of #{@patterns[0].time}/4"

- @polyrhythm.measures.each do |measure|
  .measure
    - measure.each do |m|
      %span= m