%h1= @composition.time_signatures.join(', ')
%p= "Resolves at #{@composition.bars} bars of #{@patterns.first.time_signature}"

- render_composition(@composition).each do |measure|
  .measure
    - measure.each do |bar|
      .bar= bar